@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

.containerMainHome{
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}
.logoMainHome{
  margin-top: 20vw;
  text-align: center;
  font-family: 'Alkalami', serif;
  font-size: 100px;
}